{% extends 'base.html' %}
{% block title %} passenger {% endblock title %}
{% block content %}
<div align="center">
    <table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <td>Код</td>
            <td>Серия номер паспорта</td>
            <td>Дата</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Имя</td>
            <td>id контактных данных</td>
            <td>Изменить</td>
            <td>Удалить</td>
        </tr>
     </thead>
{% for passenger in passenger_list  %}
    <tr>
        <td>{{ passenger.code }}</td>
        <td>{{ passenger.passport }}</td>
        <td>{{ passenger.date }}</td>
        <td>{{ passenger.first_name }}</td>
        <td>{{ passenger.otchestvo }}</td>
        <td>{{ passenger.lastname }}</td>
        <td>{{ passenger.id_contacts_id }}</td>
        <td><a href="{% url "edit_passenger" passenger.passenger_id %}" class="btn btn-primary" role="button">Изменить</a></td>
        <td><a href="{% url "delete_passenger" passenger.passenger_id %}" class="btn btn-secondary" role="button">Удалить</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock content %}