{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container" style="margin-top: 80px;">
        <div class="content">

            <div class="row">

                <div class="col-md-12">

                    <div class="row featurette">
                        <div class="col-md-7 first">
                            <h2 class="featurette-heading display-2"> <span
                                    class="text-muted">MyCar</span></h2>
                            <p class="lead">
                                 Сервис работает по концепции «все включено» — это означает, что парковка, бензин и страховка уже включены в стоимость услуги. <span style="background-color: cornflowerblue; color: white"> MyCar </span> работает как с частными, так и с корпоративными клиентами, а также большое внимание уделяет работе с университетами.

Основной ценностью компании является технологичность и открытость, поэтому у компании молодая и амбициозная команда, средний возраст сотрудника — 25 лет.

Собственная ИТ-платформа позволяет предоставлять качественный сервис и оперативно реагировать на обратную связь от клиентов.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <img src="{% static "img/9.jpg" %}" class="img-fluid rounded second" alt="Responsive image">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    </div>
{% endblock content %}