{% extends 'base.html' %}
{% block title %}flight conditions{% endblock title %}
{% block content %}
<div align="center">
    <table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <td>Наименование</td>
            <td>Возврат</td>
            <td>Норма багажа</td>
            <td>Животные</td>
            <td>Изменить</td>
            <td>Удалить</td>
        </tr>
     </thead>
{% for flight_conditions in flight_conditions_list  %}
    <tr>
        <td>{{ flight_conditions.flight_conditions_name }}</td>
        <td>{{ flight_conditions.vozvrat }}</td>
        <td>{{ flight_conditions.baggage }}</td>
        <td>{{ flight_conditions.animals }}</td>
        <td><a href="{% url "edit_flight_conditions" flight_conditions.flight_conditions_id %}" class="btn btn-primary" role="button">Изменить</a></td>
        <td><a href="{% url "delete_flight_conditions" flight_conditions.flight_conditions_id %}" class="btn btn-secondary" role="button">Удалить</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock content %}