
{% extends "base_home.html" %}
{% load static %}

{% block content %}
      <div class="container" style="margin-top: 80px;">

      <div class="jumbotron first">
        <h2 class="display-3" align="center" >Провека учебных планов!</h2>
        <p align="center" >Excell Check - это простой способ проверить учебный план на ошибки в один клик!</p>
{#        <p><a class="btn btn-primary btn-lg" href="" role="button">Заказать</a></p>#}
      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->


    </div><!-- /.container -->


{% endblock content %}